<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715587336824-iepgr125d9aaa4uhj98t6violgtcaml7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715587336824-iepgr125d9aaa4uhj98t6violgtcaml7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-fja3osz3I7AvfMBIseRcwyIffMq_IrY</string>
	<key>GCM_SENDER_ID</key>
	<string>715587336824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondApp</string>
	<key>PROJECT_ID</key>
	<string>swizzl-91175</string>
	<key>STORAGE_BUCKET</key>
	<string>swizzl-91175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715587336824:ios:ad9906eaa22a56b1c9cb8d</string>
</dict>
</plist>